# mac OS related
*.DS_Store

# python
*.py[cod]

# Binary
mode0/WAVECAR
mode*/wave.*

# VASP OUTCAR
mode0/OUTCAR
freq/OUTCAR

# running data
mode*/*.npy
mode*/*.xsf


# scratch
test.py

# stdout/log files
run.log

# pycharm
.idea

# ipython notebook
*ipynb*


# genmode outputs
f0.*/
n0.*/

# input files
*.yml

# viewmodes outputs
*.mol

# Latex
doc/normal_mode/.normalmode.lb
doc/normal_mode/missfont.log
doc/normal_mode/normalmode.aux
doc/normal_mode/normalmode.log
doc/normal_mode/normalmode.out
doc/normal_mode/normalmode.synctex.gz
