

# python
*.py[cod]

# Binary
mode0/WAVECAR
mode*/wave.*

# VASP OUTCAR
mode0/OUTCAR

# running data
*.npy
mode*/*.xsf


# scratch
test.py

# stdout/log files
run.log

# pycharm
.idea

# ipython notebook
*ipynb*